/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

.services-heading {
    /*This is used to change font size*/
    font-size: larger;
}

.services {
    /*used flexbox in the main grid content */
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.badge {
    border-radius: 0px !important;
}

#newtag {
    position: absolute;
    top: -4px;
    right: -12.6px;
    text-align: right;
}

#myCard:hover {
    /*Hover effect in each card*/
    border: 1px solid #0731ee;
    box-shadow: 0 0 10px rgba(83, 82, 82, 0.5);
    transform: translateY(-5px);
    transition: transform 0.7s ease;
}

#myCard {
    position: relative;
}

#myCard .arrow {
    transition: margin-left 0.5s ease;
    /* Add the desired transition duration and easing here */
}

#myCard:hover .arrow {
    margin-left: 10px;
    /* Add the desired left margin value here */
}

.card-title {
    /*Change fonts of card title*/
    font-weight: 500;
    font-size: larger;
}

a {
    /*styling all links*/
    text-decoration: none;
    font-size: medium;
}

.card {
    /* this code will maintain equal size of cards despite of the content inside them*/
    height: 90%;
    min-height: 200px;
    margin: 15px;
    padding: 0px 0px 10px 10px;
}

.card-body {
    /*Content inside card body is arranged in flexbox in column direction*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body a {
    text-decoration: none;
}

.logo {
    /*dimensions for logo*/
    max-width: 20%;
    max-height: 100px;
    /* Adjust the value as per your desired height */
    width: auto;
    height: auto;
}

